.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  line-height: 75px;
  background-color: rgba(0, 0, 0, .75);
  > .header-layout {
    @include _container;
    &:after { @include _clear }
    > .logo-link {
      float: left;
      width: 250px;
      > .image {
        height: auto;
        opacity: .85;
        vertical-align: middle;
        &:hover {
          opacity: 1;
        }
      }
    }
    > .main-nav {
      font-family: "Oswald", Arial, Helvetica, sans-serif;
      float: right;
      text-align: right;
      width: 70%;
      &._showed:before { color: $sec-color; }
      &:before {
        content: "\f100";
        position: fixed;
        display: none;
        font-family: "Icons";
        font-size: 28px;
        color: #fff;
        right: 32px;
        top: 16px;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      > .icon {
        position: relative;
        text-decoration: none;
        transition: .45s ease;
        &:last-child { margin-right: 20px }
        &:before {
        cursor: pointer;
        color: $pri-color;
        }
        &:hover:before {
        color: $sec-color;
        }
        > .counter {
          position: absolute;
          top: 8px;
          right: -3px;
          width: 14px;
          height: 14px;
          line-height: 10px;
          text-align: center;
          padding-top: 2px;
          background-color: $pri-color;
          border-radius: 7px;
          color: $cnt-color;
          font-size: 10px;
          font-weight: 300;
          cursor: pointer;
        }
      }
      > .item {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        padding: 14px 8px;
        margin: 0 5px;
        color: $pri-color;
        transition: .25s ease;
      }

      > .item:after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        left: 50%;
        bottom: 20%;
        background-color: $sec-color;
        transition: .35s ease-in-out;
      }

      > .item:hover:after, .item._active:after  { width: 100%; left: 0; }
    }
    @media (max-width: $bp-large) {
      .logo-link {
        width: 210px;
        > .image { max-width: 100%; }
      }
      
      .main-nav {
        width: 100%;
        position: fixed;
        right: -300%;
        top: 105px;
        background-color: rgba(0, 0, 0, .75);
        transition: right .35s;
        &:before { display: block }
        &._showed { right: 0 }
        > .item {
          display: block;
          line-height: 1.5;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: 0;
          margin-left: 0;
          &:after { display: none }
        }
      }
    }
  }
}