.page-news {
  @include _container;
  &:after { @include _clear }
  padding-top: 0;
  > .news-sidebar {
    &:after { @include _clear }
    position: relative;
    float: right;
    width: 33.333333%;
    padding-left: 15px;
    @media (max-width: $bp-medium) { display: none; }
    > .sidebar-categories {
      text-align: right;
      border-bottom: 1px solid #eee;
      margin-bottom: 30px;
      .title {
        position: relative;
        display: block;
        cursor: pointer;
        text-decoration: none;
        color: $pri-color;
        font-size: 17px;
        padding: 15px;
        background-color: $sec-color;
        text-align: left;
        transition: padding .25s ease;
        &:hover { padding-left: 25px; }
      }
      .categories-item {
        position: relative;
        display: block;
        cursor: pointer;
        text-decoration: none;
        color: $cnt-color;
        &:hover, &._active {
          background-color: lighten($sec-color, 50);
          > .icon:before { margin-left: 30px; }
        }
        &:after { @include _clear }
        > .icon {
          display: block;
          float: left;
          padding: 16px 0;
          &:before {
          margin-right: 10px;
          font-size: 12px;
          transition: all .25s ease;
        }
      }
      > .category {
        display: block;
        float: right;
        font-weight: 300;
        padding: 15px;
        font-size: 17px;
        transition: color .25s ease;
        }
      }
    }
    > .sidebar-search {
      position: relative;
      border: 1px solid #eee;
      margin-bottom: 30px;
      > .search {
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        text-align: right;
        border: none;
        padding: 10px 5px;
        padding-right: 40px;
        outline: none;
        color: #aaa;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        width: 100%;
      }
      > .icon:before {
        position: absolute;
        right: 10px;
        top: 5px;
        color: #aaa;
      }
    }
  }
  > .news-items {
      float: left;
      width: 66.666667%;
      padding-right: 15px;
      @media (max-width: $bp-medium) { width: 100%; }
       .news-pagination {
        margin: 0 auto;
        width: 330px;
        text-align: center;
        > .item {
          display: inline-block;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          margin: 15px 5px;
          color: $cnt-color;
          border: 1px solid rgba(0, 0, 0, 0.25);
          padding: 5px 15px;
          text-decoration: none;
          text-align: center;
          transition: .35s ease-in-out;
          &:hover, &._active {
            background: $sec-color;
            color: #fff;
            border: 1px solid #fff;
          }
        }
      }
      .items-article {
      &:after { 
        @include _clear;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        width: 80%;
        margin: 0 auto;
      }
      padding-bottom: 30px;
      > .header {
        font-size: 26px;
        font-weight: 400;
        color: #282828;
        line-height: 1.2;
        padding: 15px 0; 
        margin: 0;
      }
      > .image {
          height: 330px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          > .tag {
              display: inline-block;
              color: #fff;
              padding: 10px;
              background-color: #c74718;
              text-align: center;
              font-weight: bold;
              text-transform: uppercase;
              &._news { background-color: #c74718; }
              &._sales { background-color: $frt-color; }
              &._articles { background-color: #7518c7; }
          }
      }
      > .meta {
          display: block;
          border-left: 4px solid $sec-color;
          padding: 0 15px;
          margin: 0;
          margin-bottom: 30px;
          line-height: 1.5;
          
      }
      > .teaser {
        padding-bottom: 15px;
      }
      > .readmore {
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        float: right;
        margin-top: 55px;
        margin-bottom: 15px; 
        color: $cnt-color;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 12px 35px;
        text-decoration: none;
        text-align: center;
        line-height: 17px;
        transition: .35s ease-in-out;
        &:hover {
          background: $sec-color;
          color: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }
}