.product-content {
  @include _container;
  &:after { @include _clear }
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  margin-top: -30px;
  > .content-info {
    color: $cnt-color;
    border: 1px solid $cnt-color;
    padding: 10px 30px;
    width: 100%;
    height: 350px;
    overflow: scroll;
  }
  > .content-tabs {
    &:after { @include _clear }
    list-style: none;
    margin: 0;
    margin-bottom: -1px;

    > .tab {
      float: left;
      padding: 10px;
      border-left: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      border-top: 1px solid #aaa;
      color: #aaa;
      cursor: pointer;
      transition: all .25s ease;
      &:last-child {
        border-right: 1px solid #aaa;
      }
      &._active, &:hover {
        color: $cnt-color;
        border-color: $cnt-color;
        border-bottom-color: #aaa;
      }
    }
  }
}


.page-product {
  @include _container;
  &:after { @include _clear }
  font-size: 17px;
  margin: 30px auto;
  > .product-wrapper {
    position: relative;
    float: left;
    width: 70%;
    z-index: 1;
    padding-right: 30px;
    @media (max-width: $bp-large) { width: 100%; padding-left: 12px; padding-right: 12px;}
    > .wrapper-image {
      position: relative;
      width: 700px;
      margin: 0 auto;
      > .image {}
    }
  }
  > .product-meta {
    width: 30%;
    float: right;
    padding: 0 12px;
    @media (max-width: $bp-large) { 
      width: 100%;
      margin-top: 20px;
    }
    > .title {
      font-size: 26px;
      font-weight: 400;
      color: #282828;
      line-height: 1.2;
      margin: 0;
    }
    > .price {
      display: block;
      color: $sec-color;
      font-size: 22px;
      font-weight: 300;
      line-height: 1;
      vertical-align: top;
      padding: 12px 0 22px;
    }
    > .icon:after {
      font-size: 17px;
    }
    > .description {
      margin: 0;
      line-height: 1.8;
      padding-bottom: 22px;
      white-space: pre-line;
    }
    > .vendor {
      margin: 0;
      line-height: 1.8;
      padding-bottom: 22px;
      > ._ink { color: $sec-color; }
    }

    > .option {
      display: inline-block;
      margin: 20px 30px 15px 0;
      position: relative;
      font-size: 14px;
      color: #eee;
      z-index: 1;
      min-width: 90px;
      cursor: pointer;

      &:after {
        content: " ";
        transition: .35s ease;
        background-color: #aaa;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        top: 4px;
        right: -4px;
        position: absolute;
        z-index: -1;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
      }
    }

    > .add {
      display: inline-block;
      color: #fff;
      background-color: $cnt-color;
      padding: 14px;
      line-height: 16px;
      width: 75%;
      font-size: 16px;
      border: 0;
      transition: .35s ease;
      cursor: pointer;
      &:hover { background-color: $sec-color; }
      @media (max-width: $bp-large) { width: 30%; }
      @media (max-width: $bp-medium) { width: 75%; }
    }
    > .quantity {
      display: inline-block;
      color: #fff;
      background-color: $cnt-color;
      padding: 14px;
      line-height: 16px;
      width: 25%;
      text-align: center;
      font-size: 15px;
      border: 0;
      border-left: 1px solid $cnt-color;
      outline: 0;
      @media (max-width: $bp-large) { width: 10%; }
      @media (max-width: $bp-medium) { width: 25%; }
    }
  }
}