.page-news {
  float: left;
  width: 66.666667%;
  padding: 0 12px;
  @media (max-width: $bp-medium) { width: 100%; }
  > .news-item {
    &:after { 
      @include _clear;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      width: 80%;
      margin: 0 auto;
    }
    padding-bottom: 30px;
    > .header {
      font-size: 26px;
      font-weight: 400;
      color: #282828;
      line-height: 1.2;
      padding: 15px 0; 
      margin: 0;
    }
    > .image {
        height: 330px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    > .meta {
        display: block;
        border-left: 4px solid $sec-color;
        padding: 0 15px;
        margin: 0;
        margin-bottom: 30px;
        line-height: 1.5;
        
    }
    > .teaser {
      padding-bottom: 15px;
    }
    > .readmore {
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        float: right;
        margin-top: 55px;
        margin-bottom: 15px; 
        color: $cnt-color;
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 12px 35px;
        text-decoration: none;
        text-align: center;
        line-height: 17px;
        transition: .35s ease-in-out;
        &:hover {
          background: $sec-color;
          color: #fff;
          border: 1px solid #fff;
        }
    }
  }
}