$pri-color: #fff;
$sec-color: #18BBC7;
$ter-color: #c74718;
$frt-color: #c79e18;
$cnt-color: #444;

$min-width: 320px;

html { box-sizing: border-box }

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: $cnt-color;
  min-width: $min-width;
  line-height: 1.5;
}
.link, .link:link, .link:visited, .link:active {
  text-decoration: none;
  color: $sec-color;
  padding: 20px 0;
  position: relative;
  transition: .25s ease;
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 30%;
    background-color: $sec-color;
    transition: .35s ease-in-out;
  }
  &:hover:after  { width: 100%; left: 0; }  
}


.main-page > .header {
  background: none;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #000;
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;
}